<% provide(:button_text, 'Save changes') %>

<div class="row"> 
  
  <aside class="col-md-4">
    <%= render "layouts/aside" %>
  </aside>
  
  <div class="col-md-8">
    <h1>Update your profile</h1>
        <%= render 'form' %>
  </div>

</div>