<section class="user_info">
  <%= link_to current_user do %>
    <h1><%= full_name current_user %></h1>
  <% end %>
  <%= image_tag current_user.avatar.url(:avatar) %>
  <br>
  <%= link_to "Edit profile", "#", class: "btn btn-default" %>
</section>

<section class="friends">
  <p>class="friends" Тут будуть іконки аватарок друзів</p>
</section>

<section class="galery">
  <p>class="galery" Тут будуть мініатюри картин в галереї</p>
</section>

<section class="post_form">
  <p>class="post_form" Форма для створення посту</p>       
</section>
